/*--------- fonts ---------*/
  
.pBig {  
  font-family: 'Libre Caslon Text', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: normal;
  line-height: 32px; }

/*--------- Hero ---------*/

.hero {
    width: 100%;
    height: auto; }
  
.heroTitle__box{
    height: auto;
    width: 90%;
    margin-left: 5%; 
    margin-top: 175px;}
  
  .hero__title {
      width: 100%;
      margin-top: 10px; }  

.hero__box {
    height: auto;
    width: 90%;
    margin: 110px 0 80px 5%;
    display: grid;
    grid-template-columns: 1fr 385px;
    justify-items: start;
    justify-content: start; }

.heroParr__box{
  display: flexbox; }

  .heroParr__box img{
    width: 160px; 
    height: auto;
    margin-left: 76px;}

  .heroParr__box p{
    max-width: 455px;
    margin: 15px 0px; }

  .heroParr__box article{
    border-radius: 12px;
    background: #102520;
    display: inline-flex;
    height: 40px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;}

    .heroParr__box article p{
      font-size: 16px;}
  
.heroSocial__box{
  width: 385px;
  height: 150px;
  position: relative;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.20);}

  .heroSocial__box h4{
    color: #EEE9E1;
    font-family: 'Inter', sans-serif;    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    top: 26px;
    left: 90px;}

    .heroSocial__box h5{
      color: rgba(238, 233, 225, 0.50);
      font-family: 'Inter', sans-serif;    
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      position: absolute;
      top: 56px;
      left: 90px;}

.heroSocial__avatar{
  width: 45px;
  height: 45px;
  position: absolute;
  top: 28px;
  left: 21px; }

  .heroSocial__avatar img{
    width: 44px;
    height: 44px;
    border-radius: 23px; 
    border: solid 3px #95FF56;}

.heroSocial__links{
  width: auto;
  height: 15px;
  position: absolute;
  bottom: 18px;
  left: 90px; }

  .heroSocial__links ul{
    list-style: none;
    float: right; }
    
    .heroSocial__links ul li{ 
      display: inline; } 

      .heroSocial__links ul li a{ 
        color: #EEE9E1;
        font-family: 'Inter', sans-serif;    
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-right: 15px;} 

.heroSocial__btn{
  width: 90px;
  height: 32px;
  border-radius: 16px;
  background-color: #95FF56;
  position: absolute;
  top: 23px;
  right: 20px; 
  text-align: center;}    

  .heroSocial__btn p{
    color: #0D342B;
    font-family: 'Inter', sans-serif;    
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    margin-top: 10px; }  
  
/*--------- Marquee ---------*/

.marquee {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
  background: #132D27; }

.marquee p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 20s linear infinite; }
  
  @-moz-keyframes scroll-left {
      0% {
          -moz-transform: translateX(100%);}
      100% {
          -moz-transform: translateX(-100%);}
  }
  
  @-webkit-keyframes scroll-left {
      0% {
          -webkit-transform: translateX(100%);}
      100% {
          -webkit-transform: translateX(-100%);}
  }
  
  @keyframes scroll-left {
      0% {
          -moz-transform: translateX(100%);
          -webkit-transform: translateX(100%);
          transform: translateX(100%); }
      100% {
          -moz-transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%); }
  }

/*--------- Section Right ---------*/
  
.secRight {
  width: 100%;
  height: auto; 
  margin-top: 120px;}

.secRight__box {
  width: 90%;
  margin-left:  5%;
  display: grid;
  grid-template-columns: 45% 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "title img" ". txt";
  justify-items: start;
  justify-content: start;
  align-items: end;
  column-gap: 50px; 
  row-gap: 40px;}

.secRight__title {
  width: 100%;
  height: auto;
  grid-area: title; }

  .secRight__title h5{
    color: #EEE9E1;
    opacity: 0.4;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 2.1px;
    margin-bottom: 10px;}

    .secRight__bubblesBox {
      max-width: 580px;
      width: 100%;
      margin-top: 65px;
      display: grid;
      grid-template-columns: 1fr 104px;
      column-gap: 70px;}
  
      .secRight__bubbles {
        max-width: 380px;
        display: inline-flex;
        padding: 13px 25px 13px o;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;}

.secRight__img {
  width: 100%;
  height: auto;
  grid-area: img; }

      .secRight__img img {
        border-radius: 11px;
        width: 100%;
        height: auto; }

.secRight__txt {
  width: 100%;
  height: auto;    
  grid-area: txt; }


/*--------- Section Top ---------*/
  
.secTop {
  width: 100%;
  height: auto; 
  margin-top: 170px;
  margin-bottom: 120px;}

.secTop__box {
  width: 90%;
  margin-left:  5%;
  display: grid;
  grid-template-columns: 1fr 40%;
  grid-template-rows: 1fr auto;
  grid-template-areas: "img img" "title txt";
  justify-items: start;
  justify-content: start;
  align-items: start;
  column-gap: 70px; 
  row-gap: 70px;}

.secTop__title {
  width: 100%;
  height: auto;
  grid-area: title; }

    .secTop__bubblesBox {
      max-width: 580px;
      margin-top: 65px;
      display: grid;
      grid-template-columns: 1fr 104px;
      column-gap: 70px;}
  
      .secTop__bubbles {
        max-width: 380px;
        display: inline-flex;
        padding: 13px 25px 13px o;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;}

.secTop__img {
  width: 100%;
  height: auto;
  grid-area: img; }

      .secTop__img img {
        border-radius: 11px;
        width: 100%;
        height: auto; }

.secTop__txt {
  width: 100%;
  height: auto;    
  grid-area: txt; }

  .secTop__txt h3{
    margin-top: 90px; }

/*--------- Section Left ---------*/
  
.secLeft {
  width: 100%;
  height: auto; 
  margin-top: 120px;}

.secLeft__box {
  width: 90%;
  margin-left:  5%;
  display: grid;
  grid-template-columns: 1fr 45%;
  grid-template-rows: 1fr auto;
  grid-template-areas: "img title" "txt .";
  justify-items: start;
  justify-content: start;
  align-items: end;
  column-gap: 50px; 
  row-gap: 40px;}

.secLeft__title {
  margin-left: 40px;
  width: 100%;
  height: auto;
  grid-area: title; }
  
  .secLeft__title h2{
    max-width: 470px;}

  .secLeft__title h5{
    color: #EEE9E1;
    opacity: 0.4;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 2.1px;
    margin-bottom: 10px;}

  .secLeft__bubblesBox {
    max-width: 580px;
    width: 100%;
    margin-top: 65px;
    display: grid;
    grid-template-columns: 1fr 104px;
    column-gap: 20px;}

    .secLeft__bubbles {
      max-width: 320px;
      display: inline-flex;
      padding: 13px 25px 13px o;
      justify-content: left;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;}

.secLeft__img {
    width: 100%;
    height: auto;
    grid-area: img; }

      .secLeft__img img {
          border-radius: 11px;
          width: 100%;
          height: auto; }

.secLeft__txt {
  width: 100%;
  height: auto;    
  grid-area: txt; }


/*--------- Section About ---------*/
  
.secAbout {
  width: 100%;
  height: auto; 
  margin-top: 200px;
  margin-bottom: 250px;}

.secAbout__box {
  width: 90%;
  height: auto;
  margin-left:  5%;}    

.secAbout__contain {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "title img txt";
  justify-items: start;
  justify-content: start;
  align-items: end;
  column-gap: 40px; 
  margin-top: 40px; }     

.secAbout__title {
  grid-area: title; 
  margin-bottom: 40px;}

  .secAbout__bubblesBox {
    max-width: 560px;
    width: 100%;
    margin-top: 65px; }

    .secAbout__bubbles {
      display: inline-flex;
      padding: 13px 0 13px 0;
      justify-content: left;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;}

.secAbout__img {
  grid-area: img; }

    .secAbout__img img {
      margin-top: 40px;
      width: 100%;
      height: auto; }
 
.secAbout__txt {
  grid-area: txt; 
  align-self: flex-start;}

    .secAbout__txt p {
        margin-bottom: 45px;}


/* --------  @ MEDIA --------- */

@media (max-width: 1024px) {

  .pBig {  
    font-family: 'Libre Caslon Text', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px; }

  .hero__box {
    height: auto;
    width: 90%;
    margin: 70px 0 80px 5%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 40px;}

  .secRight__box {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "title" "img" "txt";
    row-gap: 40px;}

      .secRight__title {
        margin-bottom: 40px; }

  .secTop__box {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "img" "title" "txt";
    row-gap: 80px;}

      .secTop__txt h3{
        margin-top: 0px; 
        margin-bottom: 50px;}

  .secLeft__box {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "img" "title" "txt";
    row-gap: 70px;}

      .secLeft__title {
        margin-left: 0px; }

  .secAbout__contain {
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto auto;
    grid-template-areas: "title img" "txt img";
    align-items: center;
    column-gap: 5%; 
    row-gap: 40px;
    margin-top: 70px; }    

      .secAbout__img img {
        margin-top: 0px;
        margin-bottom: 80px; }

}