/*--------- Gallery ---------*/
  
.gallery {
    width: 100%;
    height: auto; 
    margin-top: 120px;
    margin-bottom: 200px;}
  
.gallery__box {
    width: 90%;
    height: auto;
    margin-left:  5%; }  
    
.gallery__title{
    width: 100%;
    height: auto;
    margin-top: 90px; }    

.gallery__titleDob{
    width: 100%;
    height: auto;
    margin-top: 90px;
    display: grid;
    grid-template-areas: "tlt txt";
    grid-template-columns: 1fr 1fr; 
    align-items: end;
    column-gap: 25px;}   

    .gallery__titleDob h1{
        grid-area: tlt;}  

    .gallery__titleDobtxt{
        grid-area: txt;
        margin-bottom: 25px;
        text-align: right;}  

        .gallery__titleDobtxt h3{
            margin-bottom: 20px; }  

.gallery__txt{
    width: 100%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 25px;}   

.gallery__img{
    width: 100%;
    height: auto; }  

.gallery__imgBox{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 4.7fr 4.05fr 4.64fr; 
    column-gap: 1.5%;}   
    

/*--------- Contact ---------*/
  
.contact {
    width: 100%;
    height: auto; 
    margin-top: 120px;
    margin-bottom: 200px;}
  
.contact__box {
    width: 90%;
    height: auto;
    margin-left:  5%; }    

.contact__contain{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr; 
    align-content: end;
    align-items: flex-end;
    column-gap: 10%;}  

.contact__txt{
    width: 100%;
    height: auto; }  

    .contact__txt h1{
        margin-bottom: 40px; }  

        .contact__txt p{
            max-width: 680px;
            margin-bottom: 40px; }  

.contact__itemBox{
    width: 100%;
    height: auto; 
    margin-bottom: 84px;
    margin-top: 90px;}

.contact__item{
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between; }

    .contact__item h2{
        padding: 32px 15px 28px 15px;}

    .contact__item a{
        opacity: .3; 
        padding: 32px 15px 28px 15px;}

    .contact__img img{
        width: 100%;
        height: auto; }  

    .contact__img h4{
        font-family: 'Inter', sans-serif;    
        font-size: 21px;
        line-height: 21px; 
        margin-top: 24px;}

    .contact__img h5{
        font-family: 'Inter', sans-serif;    
        font-size: 16px;
        line-height: 21px;
        margin-top: 12px; }


/*--------- Line ---------*/

.line {
    width: 100%;
    height: 1px; 
    background-color: #EEE9E1;
    opacity: 0.15;}
    
/* --------  @ MEDIA --------- */


@media (max-width: 768px) {

    .gallery__titleDob{
        grid-template-areas:  "txt" "tlt";
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto;
        align-items: end;
        row-gap: 30px;}  
   
        .gallery__titleDobtxt{
            text-align: left; }  

    .gallery__txt{
        display: grid;
        grid-template-columns: 1fr ; 
        grid-template-rows: auto auto;
        row-gap: 25px;}  
        
    .gallery__imgBox{
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto;
        row-gap: 20px;}  

}
  
@media (max-width: 825px) {

    .contact__contain{
        grid-template-columns: 1fr; 
        grid-row: auto auto; }  

}
    
